
@{
    ViewBag.Title = "IspisSportiste";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<link href="~/css/style2.css" rel="stylesheet" />

@model PSA_Projekat.Models.Sportista

<h2>Gym Card</h2>

<h3>Name & Surname</h3> 
<h4>@Model.Ime @Model.Prezime</h4>

<h3>Gender</h3>
<h4>@Model.Pol</h4>

<h3>Payment </h3>
<h4> @Model.Clanarina</h4>


<p>Have fun at IVANGYM!</p>
